@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import "tailwindcss";

@theme {
  --color-bg: #242424;
}

:root {
  font-family: "Playfair Display", serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overflow-x: hidden;
}

.text_shadow:hover {
  text-shadow: 1px 1px 0 yellow;
}

.name_home {
  @apply after:top-[25px] after:-right-20 after:w-0 after:animate-[loadBar_1.5s_ease-in-out_forwards];
}

.default_after {
  @apply after:h-[2px] after:absolute after:bg-yellow-500;
}

@keyframes loadBar {
  from {
    width: 0;
  }
  to {
    width: 75%;
  }
}

@keyframes loadBar2 {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}
